:host {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  :host {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }
}
