//Variables
$app-background: #EEEEEE;
$app-header-background: #FFFFFF;
$card-header-background: #F6F6F6;
$card-background: #FFFFFF;
$button-background: #f4f4f4;
$text-basic: #717171;
$text-secondary: #919191;
$text-green: #3C7649;
$text-blue: #3684CB;
$text-red: #DD4B4B;

$font-family: 'Poppins', Arial, sans-serif;
$border-separator: #cccccc;
